* {
    background-color: grey;
    background-image: url(diversit.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    object-fit: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 1px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page_1 {
    align-items: center;
    margin: auto;
    width: 300px;
    height: auto;
    outline: 150px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-radius: 25px;
}

h1 {
    text-align: center;
    background-color: white;
}

li {
    text-align: center;
}