
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home' %}"><i class="material-icons" id="home">house</i></a></li>
            <li>
                <a href="{% url 'profile' request.user.id %}" class="profile">@</a></li>
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="profile2">Logout</a>
                {% endif %}
            </ul>   
    </div>
    <hr>
    {% block content %}
    {% endblock content %}
</body>
</html>