{% extends 'base/navbar.html' %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'styles/room_list.css' %}">
</head>
<div class="page">
    <ul>
        {% for room in rooms %}
        <a href="{% url 'chatroom' room.id %}">
            <div class="card">

                <li>
                    <b>{{room}}</b>
                    <br>
                    {{room.description}}

                </li>

            </div>
        </a>
        {% endfor %}
    </ul>
</div>

<div class="create_button">
    <a href="{% url 'create_room' %}" class="create">+ Create Room</a>
</div>
{% endblock content %}